src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ParaphraseChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/OrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ConsequenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/NegChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/AndChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_synthetic/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_synthetic/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_synthetic/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_newsapi/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_newsapi/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_newsapi/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_newsapi/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_newsapi/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_scraped/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_scraped/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_4xEE1_tuples_scraped/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_20240701_20240831/ground_truth_results.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_newsapi/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_newsapi/OrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_newsapi/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_newsapi/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_newsapi/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_newsapi/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_newsapi/AndChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_scraped/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_scraped/OrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_scraped/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_scraped/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_scraped/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_scraped/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_scraped/AndChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_20240701_20240831/ground_truth_results.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_scraped/ground_truth_results.jsonl filter=lfs diff=lfs merge=lfs -text
