src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ParaphraseChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/OrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ConsequenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/NegChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_NP4_tuples_synthetic/AndChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_N4_tuples_synthetic/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/ButChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/CondCondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/CondChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/ExpectedEvidenceChecker.jsonl filter=lfs diff=lfs merge=lfs -text
src/data/forecasts/ConsistentForecaster_P4_tuples_synthetic/AndOrChecker.jsonl filter=lfs diff=lfs merge=lfs -text
