aiofiles==23.2.1
aiohttp==3.9.3
aiosignal==1.3.1
aiostream==0.5.2
altair==5.3.0
annotated-types==0.6.0
anthropic==0.22.0
anyio==4.3.0
appnope==0.1.4
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
backcall==0.2.0
bardapi==1.0.0
beartype==0.17.2
beautifulsoup4==4.9.3
blinker==1.7.0
blis==0.7.11
boto3==1.34.98
botocore==1.34.161
browser-cookie3==0.19.1
bs4==0.0.2
cachetools==5.3.3
catalogue==2.0.10
certifi==2024.2.2
cfgv==3.4.0
charset-normalizer==2.0.10
click==8.1.7
cloudpathlib==0.19.0
cloudpickle==3.0.0
colorama==0.4.6
comm==0.2.1
confection==0.1.5
contourpy==1.1.1
cycler==0.12.1
cymem==2.0.8
dataclasses-json==0.6.7
datasets==2.19.1
dateparser==1.2.0
debugpy==1.8.1
decorator==5.1.1
deprecated==1.2.14
dill==0.3.8
distlib==0.3.8
distro==1.9.0
dnspython==1.16.0
docstring-parser==0.16
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.7.0/en_core_web_sm-3.7.0.tar.gz
exceptiongroup==1.2.0
executing==2.0.1
fastapi==0.114.2
feedparser==6.0.11
filelock==3.13.1
fireworks-ai==0.15.2
fonttools==4.49.0
frozenlist==1.4.1
fsspec==2024.2.0
gitdb==4.0.11
gitpython==3.1.43
gnews==0.3.6
google-ai-generativelanguage==0.6.2
google-api-core==2.19.1
google-api-python-client==2.141.0
google-auth==2.33.0
google-auth-httplib2==0.2.0
google-generativeai==0.5.2
googleapis-common-protos==1.63.2
greenlet==3.0.3
grpcio==1.65.4
grpcio-status==1.62.3
grpclib==0.4.7
h11==0.14.0
h2==4.1.0
hpack==4.0.0
httpcore==1.0.4
httplib2==0.22.0
httpx==0.25.2
httpx-sse==0.4.0
huggingface-hub==0.24.5
hyperframe==6.0.1
icontract==2.6.6
identify==2.5.35
idna==3.6
importlib-metadata==7.0.1
importlib-resources==6.1.2
iniconfig==2.0.0
instructor==1.4.1
ipykernel==6.29.3
ipython==8.12.3
jedi==0.19.1
jinja2==3.1.3
jiter==0.5.0
jmespath==1.0.1
joblib==1.3.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter-client==8.6.0
jupyter-core==5.7.1
kiwisolver==1.4.5
langchain==0.1.17
langchain-community==0.0.38
langchain-core==0.1.52
langchain-text-splitters==0.0.2
langcodes==3.4.0
langsmith==0.1.121
language-data==1.2.0
load-dotenv==0.1.0
logfire==0.51.0
loguru==0.7.2
lxml==5.1.1
lxml-html-clean==0.1.1
lz4==4.3.3
marisa-trie==1.2.0
markdown-it-py==3.0.0
markdown2==2.4.13
markupsafe==2.1.5
marshmallow==3.21.3
matplotlib==3.7.5
matplotlib-inline==0.1.6
mdurl==0.1.2
mistralai==0.0.12
mizani==0.11.4
modal==0.64.115
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.16
murmurhash==1.0.10
mypy-extensions==1.0.0
nest-asyncio==1.6.0
newscatcherapi==0.7.2
newspaper4k @ git+https://github.com/justinphan3110cais/newspaper4k-forecasting-ai.git@f7938dafd943dbc5ee4f28e5d1c12a7141f2f36b
nltk==3.9.1
nodeenv==1.8.0
numpy==1.26.4
openai==1.45.1
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-instrumentation==0.47b0
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
orjson==3.9.15
packaging==23.2
pandas==2.2.1
parso==0.8.3
patsy==0.5.6
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
platformdirs==4.2.0
playwright==1.47.0
plotnine==0.13.6
pluggy==1.4.0
pre-commit==3.5.0
preshed==3.0.9
prompt-toolkit==3.0.43
proto-plus==1.24.0
protobuf==4.25.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.0
pyarrow-hotfix==0.6
pyasn1==0.6.0
pyasn1-modules==0.4.0
pycryptodomex==3.20.0
pydantic==2.9.2
pydantic-core==2.23.4
pydeck==0.8.1b0
pyee==12.0.0
pygments==2.17.2
pymongo==3.12.3
pyparsing==3.1.1
pytest==8.1.1
pytest-asyncio==0.23.7
pytest-env==1.1.3
pytest-mock==3.14.0
python-dateutil==2.9.0.post0
python-dotenv==0.19.0
python-gemini-api==2.4.12
pytz==2024.1
pyyaml==6.0.1
pyzmq==25.1.2
ray==2.36.0
redis==5.0.2
referencing==0.34.0
regex==2023.12.25
requests==2.26.0
requests-file==2.1.0
rich==13.7.1
rpds-py==0.18.0
rsa==4.9
ruff==0.3.0
s3transfer==0.10.2
safetensors==0.4.2
scikit-learn==1.3.2
scipy==1.10.1
setuptools==72.2.0
sgmllib3k==1.0.0
sigtools==4.0.1
simple-parsing==0.1.5
six==1.16.0
smart-open==7.0.4
smmap==5.0.1
sniffio==1.3.1
soupsieve==2.6
spacy==3.7.5
spacy-legacy==3.0.12
spacy-loggers==1.0.5
sqlalchemy==2.0.32
srsly==2.4.8
sseclient-py==1.7.2
stack-data==0.6.3
starlette==0.38.5
statsmodels==0.14.2
synchronicity==0.7.6
tenacity==8.5.0
thinc==8.2.5
threadpoolctl==3.3.0
tiktoken==0.7.0
tldextract==5.1.2
together==0.2.4
tokenizers==0.15.2
toml==0.10.2
toolz==0.12.1
tornado==6.4
tqdm==4.66.2
traitlets==5.14.1
transformers==4.38.2
typer==0.9.4
types-certifi==2021.10.8.3
types-toml==0.10.8.20240310
typing-extensions==4.12.2
typing-inspect==0.9.0
tzdata==2024.1
tzlocal==5.2
uritemplate==4.1.1
urllib3==1.26.19
uvicorn==0.30.6
virtualenv==20.25.1
wasabi==1.1.3
watchfiles==0.24.0
wcwidth==0.2.13
weasel==0.4.1
wrapt==1.16.0
xxhash==3.4.1
yarl==1.9.4
zipp==3.17.0
